# To save space and avoid versioning copies of scripts, logs, and tmp files, we ignore all...
*

#...except the files needed to work with these results
!.gitignore
!README.md
!Analysis_MS_figures.ipynb
!Analysis_test_set_1.ipynb
!figures/.gitignore

#... and the results
!H0-0.sdf
!H0-0/H0-0_out.sdf
!H0-0/H0-0_outSubPreDFT-D.sdf
!H0-0/H0-0_outSubPreDFT-X.sdf
!H0-0/H0-0_outSubPreDFT-Z.sdf
!H0-0/H0-0_outSubXTB-A.sdf
!H0-0/H0-0_outSubXTB-C.sdf
!H0-0/H0-0_outSubXTB-F.sdf
!H0-0/H0-0_outSubXTB-L.sdf
!H0-1.sdf
!H0-1/H0-1_out.sdf
!H0-1/H0-1_outSubPreDFT-D.sdf
!H0-1/H0-1_outSubPreDFT-X.sdf
!H0-1/H0-1_outSubPreDFT-Z.sdf
!H0-1/H0-1_outSubXTB-A.sdf
!H0-1/H0-1_outSubXTB-C.sdf
!H0-1/H0-1_outSubXTB-F.sdf
!H0-1/H0-1_outSubXTB-L.sdf
!H0-2.sdf
!H0-2/H0-2_out.sdf
!H0-2/H0-2_outSubPreDFT-D.sdf
!H0-2/H0-2_outSubPreDFT-X.sdf
!H0-2/H0-2_outSubPreDFT-Z.sdf
!H0-2/H0-2_outSubXTB-A.sdf
!H0-2/H0-2_outSubXTB-C.sdf
!H0-2/H0-2_outSubXTB-F.sdf
!H0-2/H0-2_outSubXTB-L.sdf
!H0-3.sdf
!H0-3/H0-3_out.sdf
!H0-3/H0-3_outSubPreDFT-D.sdf
!H0-3/H0-3_outSubPreDFT-X.sdf
!H0-3/H0-3_outSubPreDFT-Z.sdf
!H0-3/H0-3_outSubXTB-A.sdf
!H0-3/H0-3_outSubXTB-C.sdf
!H0-3/H0-3_outSubXTB-F.sdf
!H0-3/H0-3_outSubXTB-L.sdf
!H0-4.sdf
!H0-4/H0-4_out.sdf
!H0-4/H0-4_outSubPreDFT-D.sdf
!H0-4/H0-4_outSubPreDFT-X.sdf
!H0-4/H0-4_outSubPreDFT-Z.sdf
!H0-4/H0-4_outSubXTB-A.sdf
!H0-4/H0-4_outSubXTB-C.sdf
!H0-4/H0-4_outSubXTB-F.sdf
!H0-4/H0-4_outSubXTB-L.sdf
!H0-5.sdf
!H0-5/H0-5_out.sdf
!H0-5/H0-5_outSubPreDFT-D.sdf
!H0-5/H0-5_outSubPreDFT-X.sdf
!H0-5/H0-5_outSubPreDFT-Z.sdf
!H0-5/H0-5_outSubXTB-A.sdf
!H0-5/H0-5_outSubXTB-C.sdf
!H0-5/H0-5_outSubXTB-F.sdf
!H0-5/H0-5_outSubXTB-L.sdf
!H0HQF/H0HQF_A.sdf
!H0HQF/H0HQF_C.sdf
!H0HQF/H0HQF_E.sdf
!H0HQF/H0HQF_F.sdf
!H0HQF/H0HQF_L.sdf
!H0HQF/H0HQF_X.sdf
!H0HQF/H0HQF_Z.sdf
!H0HQF/H0HQF_out.sdf
!HC1Ph-0.sdf
!HC1Ph-0/HC1Ph-0_out.sdf
!HC1Ph-0/HC1Ph-0_outSubPreDFT-D.sdf
!HC1Ph-0/HC1Ph-0_outSubPreDFT-X.sdf
!HC1Ph-0/HC1Ph-0_outSubPreDFT-Z.sdf
!HC1Ph-0/HC1Ph-0_outSubXTB-A.sdf
!HC1Ph-0/HC1Ph-0_outSubXTB-C.sdf
!HC1Ph-0/HC1Ph-0_outSubXTB-F.sdf
!HC1Ph-0/HC1Ph-0_outSubXTB-L.sdf
!HC1Ph-1.sdf
!HC1Ph-1/HC1Ph-1_out.sdf
!HC1Ph-1/HC1Ph-1_outSubPreDFT-D.sdf
!HC1Ph-1/HC1Ph-1_outSubPreDFT-X.sdf
!HC1Ph-1/HC1Ph-1_outSubPreDFT-Z.sdf
!HC1Ph-1/HC1Ph-1_outSubXTB-A.sdf
!HC1Ph-1/HC1Ph-1_outSubXTB-C.sdf
!HC1Ph-1/HC1Ph-1_outSubXTB-F.sdf
!HC1Ph-1/HC1Ph-1_outSubXTB-L.sdf
!HC1Ph-2.sdf
!HC1Ph-2/HC1Ph-2_out.sdf
!HC1Ph-2/HC1Ph-2_outSubPreDFT-D.sdf
!HC1Ph-2/HC1Ph-2_outSubPreDFT-X.sdf
!HC1Ph-2/HC1Ph-2_outSubPreDFT-Z.sdf
!HC1Ph-2/HC1Ph-2_outSubXTB-A.sdf
!HC1Ph-2/HC1Ph-2_outSubXTB-C.sdf
!HC1Ph-2/HC1Ph-2_outSubXTB-F.sdf
!HC1Ph-2/HC1Ph-2_outSubXTB-L.sdf
!HC1Ph-3.sdf
!HC1Ph-3/HC1Ph-3_out.sdf
!HC1Ph-3/HC1Ph-3_outSubPreDFT-D.sdf
!HC1Ph-3/HC1Ph-3_outSubPreDFT-X.sdf
!HC1Ph-3/HC1Ph-3_outSubPreDFT-Z.sdf
!HC1Ph-3/HC1Ph-3_outSubXTB-A.sdf
!HC1Ph-3/HC1Ph-3_outSubXTB-C.sdf
!HC1Ph-3/HC1Ph-3_outSubXTB-F.sdf
!HC1Ph-3/HC1Ph-3_outSubXTB-L.sdf
!HC1Ph-4.sdf
!HC1Ph-4/HC1Ph-4_out.sdf
!HC1Ph-4/HC1Ph-4_outSubPreDFT-D.sdf
!HC1Ph-4/HC1Ph-4_outSubPreDFT-X.sdf
!HC1Ph-4/HC1Ph-4_outSubPreDFT-Z.sdf
!HC1Ph-4/HC1Ph-4_outSubXTB-A.sdf
!HC1Ph-4/HC1Ph-4_outSubXTB-C.sdf
!HC1Ph-4/HC1Ph-4_outSubXTB-F.sdf
!HC1Ph-4/HC1Ph-4_outSubXTB-L.sdf
!HC1Ph-5.sdf
!HC1Ph-5/HC1Ph-5_out.sdf
!HC1Ph-5/HC1Ph-5_outSubPreDFT-D.sdf
!HC1Ph-5/HC1Ph-5_outSubPreDFT-X.sdf
!HC1Ph-5/HC1Ph-5_outSubPreDFT-Z.sdf
!HC1Ph-5/HC1Ph-5_outSubXTB-A.sdf
!HC1Ph-5/HC1Ph-5_outSubXTB-C.sdf
!HC1Ph-5/HC1Ph-5_outSubXTB-F.sdf
!HC1Ph-5/HC1Ph-5_outSubXTB-L.sdf
!HC1PhHQF/HC1PhHQF_A.sdf
!HC1PhHQF/HC1PhHQF_C.sdf
!HC1PhHQF/HC1PhHQF_E.sdf
!HC1PhHQF/HC1PhHQF_F.sdf
!HC1PhHQF/HC1PhHQF_L.sdf
!HC1PhHQF/HC1PhHQF_X.sdf
!HC1PhHQF/HC1PhHQF_Z.sdf
!HC1PhHQF/HC1PhHQF_out.sdf
!HI-0.sdf
!HI-0/HI-0_out.sdf
!HI-0/HI-0_outSubPreDFT-D.sdf
!HI-0/HI-0_outSubPreDFT-X.sdf
!HI-0/HI-0_outSubPreDFT-Z.sdf
!HI-0/HI-0_outSubXTB-A.sdf
!HI-0/HI-0_outSubXTB-C.sdf
!HI-0/HI-0_outSubXTB-F.sdf
!HI-0/HI-0_outSubXTB-L.sdf
!HI-1.sdf
!HI-1/HI-1_out.sdf
!HI-1/HI-1_outSubPreDFT-D.sdf
!HI-1/HI-1_outSubPreDFT-X.sdf
!HI-1/HI-1_outSubPreDFT-Z.sdf
!HI-1/HI-1_outSubXTB-A.sdf
!HI-1/HI-1_outSubXTB-C.sdf
!HI-1/HI-1_outSubXTB-F.sdf
!HI-1/HI-1_outSubXTB-L.sdf
!HI-2.sdf
!HI-2/HI-2_out.sdf
!HI-2/HI-2_outSubPreDFT-D.sdf
!HI-2/HI-2_outSubPreDFT-X.sdf
!HI-2/HI-2_outSubPreDFT-Z.sdf
!HI-2/HI-2_outSubXTB-A.sdf
!HI-2/HI-2_outSubXTB-C.sdf
!HI-2/HI-2_outSubXTB-F.sdf
!HI-2/HI-2_outSubXTB-L.sdf
!HI-3.sdf
!HI-3/HI-3_out.sdf
!HI-3/HI-3_outSubPreDFT-D.sdf
!HI-3/HI-3_outSubPreDFT-X.sdf
!HI-3/HI-3_outSubPreDFT-Z.sdf
!HI-3/HI-3_outSubXTB-A.sdf
!HI-3/HI-3_outSubXTB-C.sdf
!HI-3/HI-3_outSubXTB-F.sdf
!HI-3/HI-3_outSubXTB-L.sdf
!HI-4.sdf
!HI-4/HI-4_out.sdf
!HI-4/HI-4_outSubPreDFT-D.sdf
!HI-4/HI-4_outSubPreDFT-X.sdf
!HI-4/HI-4_outSubPreDFT-Z.sdf
!HI-4/HI-4_outSubXTB-A.sdf
!HI-4/HI-4_outSubXTB-C.sdf
!HI-4/HI-4_outSubXTB-F.sdf
!HI-4/HI-4_outSubXTB-L.sdf
!HI-5.sdf
!HI-5/HI-5_out.sdf
!HI-5/HI-5_outSubPreDFT-D.sdf
!HI-5/HI-5_outSubPreDFT-X.sdf
!HI-5/HI-5_outSubPreDFT-Z.sdf
!HI-5/HI-5_outSubXTB-A.sdf
!HI-5/HI-5_outSubXTB-C.sdf
!HI-5/HI-5_outSubXTB-F.sdf
!HI-5/HI-5_outSubXTB-L.sdf
!HIHQF/HIHQF_A.sdf
!HIHQF/HIHQF_C.sdf
!HIHQF/HIHQF_E.sdf
!HIHQF/HIHQF_F.sdf
!HIHQF/HIHQF_L.sdf
!HIHQF/HIHQF_X.sdf
!HIHQF/HIHQF_Z.sdf
!HIHQF/HIHQF_out.sdf
!HII-0.sdf
!HII-0/HII-0_out.sdf
!HII-0/HII-0_outSubPreDFT-D.sdf
!HII-0/HII-0_outSubPreDFT-X.sdf
!HII-0/HII-0_outSubPreDFT-Z.sdf
!HII-0/HII-0_outSubXTB-A.sdf
!HII-0/HII-0_outSubXTB-C.sdf
!HII-0/HII-0_outSubXTB-F.sdf
!HII-0/HII-0_outSubXTB-L.sdf
!HII-1.sdf
!HII-1/HII-1_out.sdf
!HII-1/HII-1_outSubPreDFT-D.sdf
!HII-1/HII-1_outSubPreDFT-X.sdf
!HII-1/HII-1_outSubPreDFT-Z.sdf
!HII-1/HII-1_outSubXTB-A.sdf
!HII-1/HII-1_outSubXTB-C.sdf
!HII-1/HII-1_outSubXTB-F.sdf
!HII-1/HII-1_outSubXTB-L.sdf
!HII-2.sdf
!HII-2/HII-2_out.sdf
!HII-2/HII-2_outSubPreDFT-D.sdf
!HII-2/HII-2_outSubPreDFT-X.sdf
!HII-2/HII-2_outSubPreDFT-Z.sdf
!HII-2/HII-2_outSubXTB-A.sdf
!HII-2/HII-2_outSubXTB-C.sdf
!HII-2/HII-2_outSubXTB-F.sdf
!HII-2/HII-2_outSubXTB-L.sdf
!HII-3.sdf
!HII-3/HII-3_out.sdf
!HII-3/HII-3_outSubPreDFT-D.sdf
!HII-3/HII-3_outSubPreDFT-X.sdf
!HII-3/HII-3_outSubPreDFT-Z.sdf
!HII-3/HII-3_outSubXTB-A.sdf
!HII-3/HII-3_outSubXTB-C.sdf
!HII-3/HII-3_outSubXTB-F.sdf
!HII-3/HII-3_outSubXTB-L.sdf
!HII-4.sdf
!HII-4/HII-4_out.sdf
!HII-4/HII-4_outSubPreDFT-D.sdf
!HII-4/HII-4_outSubPreDFT-X.sdf
!HII-4/HII-4_outSubPreDFT-Z.sdf
!HII-4/HII-4_outSubXTB-A.sdf
!HII-4/HII-4_outSubXTB-C.sdf
!HII-4/HII-4_outSubXTB-F.sdf
!HII-4/HII-4_outSubXTB-L.sdf
!HII-5.sdf
!HII-5/HII-5_out.sdf
!HII-5/HII-5_outSubPreDFT-D.sdf
!HII-5/HII-5_outSubPreDFT-X.sdf
!HII-5/HII-5_outSubPreDFT-Z.sdf
!HII-5/HII-5_outSubXTB-A.sdf
!HII-5/HII-5_outSubXTB-C.sdf
!HII-5/HII-5_outSubXTB-F.sdf
!HII-5/HII-5_outSubXTB-L.sdf
!HIIHQF/HIIHQF_A.sdf
!HIIHQF/HIIHQF_C.sdf
!HIIHQF/HIIHQF_E.sdf
!HIIHQF/HIIHQF_F.sdf
!HIIHQF/HIIHQF_L.sdf
!HIIHQF/HIIHQF_X.sdf
!HIIHQF/HIIHQF_Z.sdf
!HIIHQF/HIIHQF_out.sdf
!HIIprime-0.sdf
!HIIprime-0/HIIprime-0_out.sdf
!HIIprime-0/HIIprime-0_outSubPreDFT-D.sdf
!HIIprime-0/HIIprime-0_outSubPreDFT-X.sdf
!HIIprime-0/HIIprime-0_outSubPreDFT-Z.sdf
!HIIprime-0/HIIprime-0_outSubXTB-A.sdf
!HIIprime-0/HIIprime-0_outSubXTB-C.sdf
!HIIprime-0/HIIprime-0_outSubXTB-F.sdf
!HIIprime-0/HIIprime-0_outSubXTB-L.sdf
!HIIprime-1.sdf
!HIIprime-1/HIIprime-1_out.sdf
!HIIprime-1/HIIprime-1_outSubPreDFT-D.sdf
!HIIprime-1/HIIprime-1_outSubPreDFT-X.sdf
!HIIprime-1/HIIprime-1_outSubPreDFT-Z.sdf
!HIIprime-1/HIIprime-1_outSubXTB-A.sdf
!HIIprime-1/HIIprime-1_outSubXTB-C.sdf
!HIIprime-1/HIIprime-1_outSubXTB-F.sdf
!HIIprime-1/HIIprime-1_outSubXTB-L.sdf
!HIIprime-2.sdf
!HIIprime-2/HIIprime-2_out.sdf
!HIIprime-2/HIIprime-2_outSubPreDFT-D.sdf
!HIIprime-2/HIIprime-2_outSubPreDFT-X.sdf
!HIIprime-2/HIIprime-2_outSubPreDFT-Z.sdf
!HIIprime-2/HIIprime-2_outSubXTB-A.sdf
!HIIprime-2/HIIprime-2_outSubXTB-C.sdf
!HIIprime-2/HIIprime-2_outSubXTB-F.sdf
!HIIprime-2/HIIprime-2_outSubXTB-L.sdf
!HIIprime-3.sdf
!HIIprime-3/HIIprime-3_out.sdf
!HIIprime-3/HIIprime-3_outSubPreDFT-D.sdf
!HIIprime-3/HIIprime-3_outSubPreDFT-X.sdf
!HIIprime-3/HIIprime-3_outSubPreDFT-Z.sdf
!HIIprime-3/HIIprime-3_outSubXTB-A.sdf
!HIIprime-3/HIIprime-3_outSubXTB-C.sdf
!HIIprime-3/HIIprime-3_outSubXTB-F.sdf
!HIIprime-3/HIIprime-3_outSubXTB-L.sdf
!HIIprime-4.sdf
!HIIprime-4/HIIprime-4_out.sdf
!HIIprime-4/HIIprime-4_outSubPreDFT-D.sdf
!HIIprime-4/HIIprime-4_outSubPreDFT-X.sdf
!HIIprime-4/HIIprime-4_outSubPreDFT-Z.sdf
!HIIprime-4/HIIprime-4_outSubXTB-A.sdf
!HIIprime-4/HIIprime-4_outSubXTB-C.sdf
!HIIprime-4/HIIprime-4_outSubXTB-F.sdf
!HIIprime-4/HIIprime-4_outSubXTB-L.sdf
!HIIprime-5.sdf
!HIIprime-5/HIIprime-5_out.sdf
!HIIprime-5/HIIprime-5_outSubPreDFT-D.sdf
!HIIprime-5/HIIprime-5_outSubPreDFT-X.sdf
!HIIprime-5/HIIprime-5_outSubPreDFT-Z.sdf
!HIIprime-5/HIIprime-5_outSubXTB-A.sdf
!HIIprime-5/HIIprime-5_outSubXTB-C.sdf
!HIIprime-5/HIIprime-5_outSubXTB-F.sdf
!HIIprime-5/HIIprime-5_outSubXTB-L.sdf
!HIIprimeHQF/HIIprimeHQF_A.sdf
!HIIprimeHQF/HIIprimeHQF_C.sdf
!HIIprimeHQF/HIIprimeHQF_E.sdf
!HIIprimeHQF/HIIprimeHQF_F.sdf
!HIIprimeHQF/HIIprimeHQF_L.sdf
!HIIprimeHQF/HIIprimeHQF_X.sdf
!HIIprimeHQF/HIIprimeHQF_Z.sdf
!HIIprimeHQF/HIIprimeHQF_out.sdf
